.article-section {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-family: $font-family-base;
    direction: ltr;
    text-align: left;

    .article-body {
        font > br, font > div > img {
            display: none;
        }
    }

    .read-more {
        a {
            color: darken($color-yellow-base,10%);
        }
    }
}

